@layout("/common/_container.html"){
<html>

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
    <meta charset="utf-8"/>
    <title>canvas水印</title>
    <style type="text/css">
        .container {
            display: flex;
            flex-direction: column;
            padding: 0;
        }

        .canvas-container {
            border: 1px solid #aaa;
            width: 800px;
            height: 480px;
            /*margin: 0 auto;*/
            display: flex;
            flex-direction: column;
        }

        .box-container {
            margin-top: 20px;
        }

        .add-word {
            /*background-color: #f00;*/
            background-color: transparent;
            margin-left: 20px;
            width: 60px;
            height: 40px;
        }

    </style>

    <script src="${ctxPath}/static/stage.js"></script>
    <script src="${ctxPath}/static/sprite.js"></script>
    <script src="${ctxPath}/static/jscolor.js"></script>
</head>

<body>
<div class="container">


    <div class="canvas-container">

        <div style="display: flex;flex-direction: row;">
            <div>
                <!-- 背景canvas -->
                <canvas id="bg-canvas" width="800" height="480"
                        style="display: block;margin: 0 auto;border: 1px solid #aaa">
                    抱歉，你的浏览器不支持Canvas
                </canvas>
            </div>

            <div style="width: 600px;">
                <!--  图片选择器  -->
                <div>
                    <p>
                        <label>添加图片：</label>
                        <input type="file" id="file_input"/>
                    </p>
                    <div id="result" hidden></div>
                </div>


                <!--  颜色选择器  -->
                <div>
                    颜色: <input id="colorSelect" class="jscolor" value="ab2567">
                </div>
                <div class="box-container">
                    <button class="add-word" style="width: 100px;">添加文字</button>
                    <button class="upload-image" style="width: 100px;">上传图像</button>
                    <!--<span class="red-box" contenteditable="true"></span>-->
                </div>

                <div id="edit-word" style="display: inline-block;width: 250px;"></div>
            </div>
        </div>


        <div>
            <!-- 文字这边就当做离屏canvas -->
            <canvas id="canvas" width="800" height="480" style="display: block;margin: 0 auto;border: 1px solid #aaa">
                抱歉，你的浏览器不支持Canvas
            </canvas>
        </div>

    </div>


</div>
</body>

<script>
    function setTextColor(picker) {
        document.getElementsByTagName('body')[0].style.color = '#' + picker.toString()``
    }
</script>
<script type="text/javascript">
    const BOX_PADDING = 10;
    const ICON_HEIGHT = 20;
    const ROTATE_ICON =
        'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA70lEQVQ4T7XTL0vDURTG8c80aJVhEWx2u2AyTYNonmAwGi2Cgth8AWNBgzYZLKmwMJhYLL4Io9hFDP7hyJ2My+/nlLHTzj3P/d5znntvxYhRGXG/sQGWsI1nfGIGD7hI+U/jRR0c4QmneE/KSRxgFruDY+eAFSwjIEVxgkc0+8UccIcaXkoAE7hJmm/JIKCKM2wMuZku1vCWA6bQwvoQQAer+MgBkfdS8TWDzGMTDVyVjRB7trCIvQwQa3VMo43bMhPDk2MsYD85HtoAXOMch79dY78WRsaJc9hJD+oS8R4iAn5f5MG/v8bY/sKfO/kCL2skEWR80iIAAAAASUVORK5CYII=';
    const DEL_ICON =
        'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABIUlEQVRYR+3VPUvEQBSF4WdLsRdBQQsrURErC/31CtoJfiDICooigr22cnEDYdGdO5tgmqQJITNz3jn3zpmJgZ/JwPpGgNGB0YGsAzt4w2fy2K5iHY+l8RmAXdzhFad4Kiy6jTNsYh+3i8ZnAFZwjXChBNEWn+IAX10BYn7YeYmtBRBt8Wcc472PEjRrhKXnf0DMi5/MQEv61VH8G0SINDWPnafFY2KmB+Z30YYIwXiiNNXiywLEvIC4mL3jeynxrgBNP/w7wKAlyDRh6vg1jVXThNljGAEUiVnMgJoeqA2iNETGgdoojtMRwA847COK93CTuAeassadEcEUEHGR3fdxFxzhBR/FbP0ZsIYNXJXGZ0pQWqPT/xFgdGB0YHAHvgG1jEwhcd+TtgAAAABJRU5ErkJggg==';
    const SCALE_ICON =
        'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABJElEQVRYR+3UPS8EURTG8d82GolE0NArlT6ARqEiChrRKXTUWqUtJSpCQoNKlEqlL6CloJB4aVRyky2QnZk7szOzzb3NFPPkPP/z3HNux5BPZ8j+EkBKICVQJYExnCF8s84D9vFatOZVAXYKCq9iGvN4zNNWAShqaglXeMItttsEWMY5NrGASawMCjCOb3wVtB7ML7CGaxzVBXCKF+zmAPw3D9LaAEI3AWArA6CfeWsAWeatAOSZNw4QBu0Y672B63c7jc1AMD/prddNzmB2MYGNQdfw9xDGmgfPUYzgrS6Au8jOi17KP/9jnuJDLGImIvZS5kEcAzCLezzjssDhAO9lKGIAQr0p7GEup/hnbys+mgAoU7OUNjaBUkXLiBNASiAl8AO7pD8h3UM4owAAAABJRU5ErkJggg==';

    /**
     * 页面加载
     */
    window.onload = function () {


        /* 背景canvas */
        var bgCanvas = document.getElementById('bg-canvas');// 获取canvas对象
        var bgCtx = bgCanvas.getContext('2d');// 获得绘图的上下文环境
        var backgroundImg = new Image();

        /* 图像选择器 start */
        var result = document.getElementById("result");
        var input = document.getElementById("file_input");

        if (typeof FileReader === 'undefined') {
            result.innerHTML = "抱歉，你的浏览器不支持 FileReader";
            input.setAttribute('disabled', 'disabled');
        } else {
            input.addEventListener('change', readFile, false);
        }

        function readFile() {
            var file = this.files[0];
            if (!/image\/\w+/.test(file.type)) {
                alert("文件必须为图片！");
                return false;
            }
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function (e) {
                result.innerHTML = '<img src="' + this.result + '" alt=""/>'
                // this.result就是选取图片的base64地址
                backgroundImg.src = this.result;
            }
            return this.result;
        }

        /* 图像选择器 end */

        const stage = new Stage({
            bgCanvas: document.getElementById("bg-canvas"),
            canvas: document.getElementById("canvas"),
            backgroundImg: backgroundImg
        });

        backgroundImg.onload = function () {
            bgCtx.drawImage(backgroundImg, 0, 0, bgCanvas.width, bgCanvas.height);
        }

        var text = "请输入内容";
        var colorMap = new Map();
        document.querySelector('.add-word').addEventListener('click', function () {

            const randomX = Math.floor(Math.random() * 200);// 随机X坐标
            const randomY = Math.floor(Math.random() * 200);// 随机Y坐标
            const sprite = new Sprite({// 新建canvas内元素
                pos: [randomX, randomY],
                size: [120, 60],
                minSize: [40, 20],
                maxSize: [240, 120],
                text: text,// 这边的文字有点问题
                colorMap: colorMap,
                fontSize: "30"// 默认文字尺寸
            });
            stage.append(sprite);// 添加sprite

            // 后添加的页面设置文字
            let spanHtml = '<span id="spanTextAdd-' + sprite.id + '" contenteditable="true">"' + text + '"</span>'
                + '<div>颜色: <input id="inputColor-' + sprite.id + '" class="jscolor"></div>';
            document.getElementById("edit-word").innerHTML += spanHtml;
            colorMap.set(sprite.id, document.getElementById("colorSelect").value);
            console.log(colorMap);
        });

        //  上传图像
        document.querySelector('.upload-image').addEventListener('click', function () {
            var bgCanvas = document.getElementById("bg-canvas");
            var base64Data = bgCanvas.toDataURL();// TODO 这边的图像生成是对原始图像有要求的，主要和原始分辨有关
            console.log(base64Data);
            upload(base64Data);
            // handleSave();
        });

        function upload(base64) {

            var fd = new FormData();
            fd.append("base64", base64);

            // 1. 创建XMLHttpRequest对象
            var xhr = new XMLHttpRequest();
            // 2. 规定请求类型，URL、以及是否异步请求处理
            xhr.open("POST", "http://localhost:8080/user/uploadFaceBase64", true);

            // 3. 将请求发送到服务器
            xhr.send(fd);
            xhr.onreadystatechange = fn;// 获得请求的数据之后要做的事

            // 4. 回调函数，接收服务端的响应（readyState=4表明请求已经完成并且响应就绪 status=200表明响应正常）
            function fn() {
                console.log(xhr);
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // xhr.responseText 请求服务器返回的ajax数据

                    console.log(xhr.responseText);
                    alert(xhr.responseText);
                }
            }
        }

        function uploadToDB(base64) {

            var fd = new FormData();
            fd.append("base64", base64);

            // 1. 创建XMLHttpRequest对象
            var xhr = new XMLHttpRequest();
            // 2. 规定请求类型，URL、以及是否异步请求处理
            xhr.open("POST", "http://localhost:8080/user/uploadFaceBase64", true);

            // 3. 将请求发送到服务器
            xhr.send(fd);
            xhr.onreadystatechange = fn;// 获得请求的数据之后要做的事

            // 4. 回调函数，接收服务端的响应（readyState=4表明请求已经完成并且响应就绪 status=200表明响应正常）
            function fn() {
                console.log(xhr);
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // xhr.responseText 请求服务器返回的ajax数据

                    console.log(xhr.responseText);
                    alert(xhr.responseText);
                }
            }
        }

        function dataURLtoBlob(url) {
            var arr = url.split(','), mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
            while (n--) {
                u8arr[n] = bstr.charCodeAt(n);
            }
            return new Blob([u8arr], {type: mime});
        }

        function dataURLtoFile(dataurl, filename) {
            console.log("转文件")
            var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
            while (n--) {
                u8arr[n] = bstr.charCodeAt(n);
            }
            return new File([u8arr], filename, {type: mime});
        }

    }
</script>

</html>

@}
